



<!-- ONE question ONLY  -->
<div class="row row-eq-height">
  <div class="col-4">
    <!-- question:  and answers -->
    <div class="card bg-light" >
      <div class="card-header">Question Id -  <%= data.id %></div>
      <div class="card-body">


        <p id="editQues_<%= data.id %>" contenteditable="true"  class="card-text">
          <%= data.question %>
        </p>
        <h5 class="card-title">Options </h5>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"
            id="editOpA"
            contenteditable="true"
        >Option A - Cras justo odio</li>
        <li class="list-group-item"
            id="editOpB"
            contenteditable="true"
        >Option B - Dapibus ac facilisis in</li>
        <li class="list-group-item"
            id="editOpC"
            contenteditable="true"
        >Option C - Vestibulum at eros</li>
        <li class="list-group-item"
            id="editOpD"
            contenteditable="true"

        >Option D - Vestibulum at eros</li>
      </ul>
    </div>


  </div>
  <div class="col-3">
  <!-- MetaTags -->
  <div class="card bg-light" style="height: 100%">
    <div class="card-header">Meta Tags</div>
    <div class="card-body">
      <p id="editMeta_<%= data.id %>" contenteditable="true"  class="card-text">
        <%= data.meta %>
      </p>

    </div>
  </div>

  </div>
  <div class="col-3" >
  <!-- Comment section -->
  <div class="card bg-light" style="height: 100%" >
    <div class="card-header">Comment</div>
    <div class="card-body">
      <h5 class="card-title">Important stuff </h5>

      <%  if(data.extra === null ) {%>
      <p class="card-text" id="editComment_<%= data.id %>" contenteditable="true" >
      <%= 'nothing has been commented here' %>

      <% }else{ %>
      <%=   data.extra %>
      <% } %>


      </p>
    </div>
  </div>



  </div>
  <div class="col-2">
    <!-- Buttons that alter the data base  -->
    <div class="row " style="height: 100%">
      <div class="col-12 p-1" style="height: 50%" >
          <button type="button" class="btn btn-primary  btn-lg btn-block" style="height: 100%" onclick="ApplyEdit(<%= data.id %>)">
            <i class="fas fa-check-double fa-5x"></i>
          </button>
      </div>
      <div class="col-12 p-1" style="height: 50%">
        <button type="button" class="btn btn-danger btn-lg btn-block" style="height: 100%" onclick="ApplyDelete(<%= data.id %>)">
          <i class="fas fa-times fa-5x"></i>
        </button>
      </div>
    </div>
  </div>


</div>
<!-- question ends here  -->
