
<!-- confirmation prompt  -->


<!-- ONE question ONLY  -->
<div class="row row-eq-height" id="row_<%= question.id %>">
  <div class="col-3">
    <!-- question:  and answers -->
    <div class="card bg-light" >

      <div class="card-body">

        <h5 class="card-title">Question Id -  <%= question.id %></h5>
        <p id="editQues_<%= question.id %>" contenteditable="true"  class="card-text">
          <%= question.question %>
        </p>
        <h6 class="card-title">Options </h6>
      </div>
      <ul class="list-group list-group-flush">

        <% answers.forEach(function (ans){   %>
          <% const {id, is_correct , answer  } = ans ; %>
        <li class="list-group-item"

        >
        <p class="float-left marginbottom" id="editOp_<%= id %>"
        contenteditable="true">

          <%= answer %>
        </p>

        <% if(is_correct === 1 ){ %>
        <span class="float-right"><i class="fas fa-check "></i></span>
        <% } %>
      </li>

      <% }); %>
      </ul>
    </div>


  </div>
  <div class="col-3">
  <!-- MetaTags -->
  <div class="card bg-light" style="height: 100%">

    <div class="card-body">
      <p id="editMeta_<%= question.id %>" contenteditable="true"  class="card-text">
        <%= question.meta %>
      </p>

    </div>
  </div>

  </div>
  <div class="col-2" >
  <!-- Comment section -->
  <div class="card bg-light" style="height: 100%" >

    <div class="card-body" id="editComment_<%= question.id %>" contenteditable="true">


        <%=   question.extra %>


    </div>
  </div>



  </div>
  <div class="col-3" >
    <!-- Select box  -->
    <div class="card bg-light" style="height: 100%" >
  
      <div class="card-body" id="editComment_<%= question.id %>" >
          
          
          <select name="options" id="firstSelect_<%= question.id %>" onchange="getvalfirst(this);">
          <option value="">---</option>
            <% types.forEach((item , index) =>{ %>
              <option value="<%= item.track_name %>"> 
              <%= item.track_name %> 
              </option>
            <%}) %>
          </select>
          <select id="secondSelect_<%= question.id %>" onchange="getvalsecond(this );" ></select>
          <select id="thirdSelect_<%= question.id %>" onchange="getvalthird(this );"></select>
           
      </div>
    </div>
  
  
  
    </div>
  <div class="col-1 d-flex flex-column justify-content-around  align-items-center">
    <!-- Buttons that alter the data base  -->

      <div class="" style="width:inherit">
          <button
          type="button"
          class="bttn-float  bttn-success bttn-block "

          data-toggle="modal" data-target="#updateConfirm_<%= question.id %>"
            >
            <i class="fas fa-check-double "></i>
          </button>
      </div>


      <div class="" style="width:inherit">
        <button
        type="button"
        class="bttn-float  bttn-success bttn-block "

        data-toggle="modal" data-target="#tracksConfirm_<%= question.id %>"
          >
          Add Tracks
        </button>
    </div>


      <div class="" style="width:inherit">
        <button type="button"
        class="bttn-float  bttn-danger bttn-block "
        data-toggle="modal" data-target="#deleteConfirm_<%= question.id %>"
         >
          <i class="fas fa-times "></i>
        </button>
      </div>

  </div>






</div>




<!-- question ends here  -->
